@font-face{
    font-family: "Raleway"; 
    src: url("../../public/font/raleway/Raleway-Regular.ttf"); 
}

@font-face{
    font-family: "gros-raleway";
    src: url("../../public/font/raleway/Raleway-Bold.ttf"); 
}