section{
    width:100%; 
    text-align:center; 
    background-color: white;
    margin:0; 
    padding:0; 

    h3{
        width:60%; 
        margin:0 auto; padding:50px;
        color:#7a7a7a;
        font-size:27px;
        font-weight: normal;
        a{
            text-decoration:none; 
            color:$clb;
        }
        &:nth-child(2){
            padding-bottom:40px;
        }
    }

    #cartes{
        width:80%; 
        margin:0 auto; 
        padding:30px;
        display:flex;
        justify-content: space-around;
        .carte{
            width:20%;
            background-color: beige;
            border-radius:10px; 
            i{
                font-size:30px;
                margin:15px;
                color:$clb;
                background-color:white; 
                border-radius:100%;
                padding:10px;
            }
            h3{
                padding:0!important;
                color:#363434;
                text-transform: uppercase;
                font-size:15px;
            }
            a{
                color:$clb;
                text-decoration:none; 
                margin:5px;
            }
            p{
                margin:15px;
                padding:10px; 
            }
        }
    }
}